<article>
    <div>
        <div class="ball-per balls">
            <p>-45%</p>
        </div>
        <div class="ball-new balls">
            <p>NEW</p>
        </div>
        <img src="assets/akg_aviation_av100_anr_headset_02_270x335_crop_top.png" alt="Akg Aviation Av100 Anr Headset 02 270x335 Crop Top">
    </div>
    <h3>SOME GREAT PRODUCT</h3>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus....</p>
    <p class="price">$120.00</p>
</article>